@charset "utf-8";
header{
  height: 75px;
}
header .w1200{
  display: flex;
  justify-content: space-between;
  align-items:center; 
  height: 100%;
  position: relative;
}
header .w1200 .logo{
}
header .w1200 .logo a{
  display:inline-block;
  position: relative;
  text-indent: -9999px;
}
header .w1200 .logo a img{
  position:absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
}
/* ~~~~~~~~~~~~~~~~ gnb 공통 ~~~~~~~~~~~~~~~~ */
header .w1200 .gnb{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
header .w1200 .gnb li{
  position:relative;
}
header .w1200 .gnb li h2{
  cursor:pointer;
  position:relative;
  padding-bottom: 20px;
  top: 10px;
  font-size: 1.6rem;
}
header .w1200 .gnb li:hover h2{
  color:red;
}
header .w1200> .gnb li:hover h2::before{
  content:"";
  display:block;
  width: 100%;
  height:2px;
  background-color:red;
  position:absolute;
  top:-5px;
  
}
header .w1200 .gnb li .hide{
  position:absolute;
  z-index:1;
  top: 45px;
  border: 1px solid #999;
  padding: 20px;
  background-color: #fff;
}
header .w1200 .gnb li .hide::before{
  content:"";
  display:block;
  width:10px;
  height:10px;
  border-left:1px solid #999;
  border-top:1px solid #999;
  background-color:#fff;
  position:absolute;
  top:-6px;
  transform: rotate(45deg);
}

/* header .w1200 .gnb li:hover .hide{
  display:block;
} */
header .w1200 .gnb li .hide div{
  
}
header .w1200 .gnb li .hide div h3{
  font-size: 1.6rem;
}
header .w1200 .gnb li div ul{
  line-height: 1.6;
}
header .w1200 .gnb li>div>ul{
  position:relative;
  border-top:1px solid #666; 
  padding-top:10px;
}

header .w1200 .gnb li>div>ul::after{
  content:"";
  display:block;
  width:100%;
  height:2px;
  border-top:1px dotted #999;
  position:absolute;
  bottom:-10px; 
}
header .w1200 .gnb li div ul li{
 
}
header .w1200 .gnb li div ul li a{
 font-size:1.3rem;
}
header .w1200 .gnb li div ul li a::before{
  content:"-";
  margin-right:3px
}

/* ~~~~~~~~~~~~~~~~ gnb 개별 ~~~~~~~~~~~~~~~~ */
/* 제품정보 */
header .w1200 .gnb .productMenu{

}
header .w1200 .gnb .productMenu h2{
  
}
header .w1200 .gnb .productMenu>div{
  width:480px;
  vertical-align: top;
}
header .w1200 .gnb .productMenu div div{
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
header .w1200 .gnb .productMenu div div:nth-of-type(2){
  margin:0px 18px;
}
header .w1200 .gnb .productMenu div div h3{
  position: relative;
  padding-bottom: 50px;
  padding-top: 10px;
}
header .w1200 .gnb .productMenu div div h3::before{
  content:"";
  display:block;
  width:100%;
  height:2px;
  background-color:#999;
  position:absolute;
  top:-5px;
}
header .w1200 .gnb .productMenu div div ul{
  position: relative;
}
header .w1200 .gnb .productMenu div div ul::before{
  content:"";
  display:block;
  width:100%;
  height:2px;
  border-top:1px dotted #999;
  position:absolute;
  top:-10px;
}
header .w1200 .gnb .productMenu div div ul li{
  
}
header .w1200 .gnb .productMenu div div ul li a{
  
}

/* 서비스 */
header .w1200 .gnb .serviceMenu{

}
header .w1200 .gnb .serviceMenu h2{
  
}
header .w1200 .gnb .serviceMenu div{
  width: 180px;
}
header .w1200 .gnb .serviceMenu ul{

}

header .w1200 .gnb .serviceMenu ul li{
  
}
header .w1200 .gnb .serviceMenu ul li a{
  
}
/* 쇼룸대리점 */
header .w1200 .gnb .storeMenu{

}
header .w1200 .gnb .storeMenu h2{
  
}
header .w1200 .gnb .storeMenu div{
  width: 200px;
}
header .w1200 .gnb .storeMenu ul{
  
}
header .w1200 .gnb .storeMenu ul li{
  
}
header .w1200 .gnb .storeMenu ul li a{
}
/* 납품실적 */
header .w1200 .gnb .supplyMenu{

}
header .w1200 .gnb .supplyMenu h2{
  
}
header .w1200 .gnb .supplyMenu div{
  width: 200px;
}
header .w1200 .gnb .supplyMenu ul{
  
}
header .w1200 .gnb .supplyMenu ul li{
  
}
header .w1200 .gnb .supplyMenu ul li a{
}
/* 리서치 */
header .w1200 .gnb .researchMenu{

}
header .w1200 .gnb .researchMenu h2{
  
}
header .w1200 .gnb .researchMenu div{
  width: 200px;
}
header .w1200 .gnb .researchMenu ul{
  
}
header .w1200 .gnb .researchMenu ul li{
  
}
header .w1200 .gnb .researchMenu ul li a{
}
/* 회사소개 */
header .w1200 .gnb .companyMenu{

}
header .w1200 .gnb .companyMenu h2{
  
}
header .w1200 .gnb .companyMenu div{
  
  width: 200px;
}
header .w1200 .gnb .companyMenu ul{
  
}
header .w1200 .gnb .companyMenu ul li{
  
}
header .w1200 .gnb .companyMenu ul li a{
}
/* 고객지원 */
header .w1200 .gnb .supportMenu{

}
header .w1200 .gnb .supportMenu h2{
  
}
header .w1200 .gnb .supportMenu div{
  width: 200px;
}
header .w1200 .gnb .supportMenu ul{
  
}
header .w1200 .gnb .supportMenu ul li{
  
}
header .w1200 .gnb .supportMenu ul li a{
}

/* enb 공통 */
header .w1200 .enb{ 
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: right;
}
header .w1200 .enb .finder{
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: red;
  padding: 3px;
  padding-left: 113px;
  font-size:1.3rem;
}
header .w1200 .enb .finder::before{
  content:"";
  width:16px;
  height:16px;
  display:inline-block;
  background-image:url(../img/etc/outline_search_white_24dp.png);
  background-size:contain;
  position:absolute;
  right:86px;
  top:4px;
  
}
header .w1200 .enb span{
  display: inline;
  height: 100%;
}
header .w1200 .enb span a{
  font-size:1.3rem;
}
header .w1200 .enb span a:nth-child(1)::after{
  content:"";
  display:inline-block;
  width:1px;
  background-color:#000;
  height: 13px;
  margin: 0 2px 0 5px;
  vertical-align: middle;
}
header .w1200 .menuBtn{
  display:none;
}
header .w1200 .menuBtn .menu{
  
}
header .w1200 .menuBtn .menu .menuShape{
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height:3px;
  background-color: #000;
  position: relative;
}
header .w1200 .menu .menuShape::before{
  content:"";
  display: block;
  position: absolute;
  width:100%;
  height:3px;
  top:-8px;
  background-color:#000;
}
header .w1200 .menu .menuShape::after{
  content:"";
  display: block;
  position: absolute;
  width:100%;
  height:3px;
  top:8px;
  background-color:#000;
}