@charset "UTF-8";
@media screen and (max-width:1023px){
/*  header  */
  header .w1200{
    padding:0 20px;
  }
  header .w1200 .enb .finder{
    right:18px;
  }
  header .w1200 .gnb,header .w1200 .enb{
    display:none;
  }
  header .w1200 .menuBtn{
    display:block;
  }
  header .w1200 .mobileMenu{
    width:100%;
  }
  header .w1200 .mobileMenu .gnb{
    width:100%;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 0 140px;
  }
  header .w1200 .mobileMenu .gnb li h2{
    display:inline-block;
    font-size:30px;
    color:#fff;
    position:relative;
  }
  header .w1200 .mobileMenu .gnb li.clicked h2::before{
  content:"";
  display:block;
  width: 100%;
  height:2px;
  background-color:red;
  position:absolute;
  top:-5px;
}
  header .w1200 .mobileMenu .gnb li .hide{
  top: -10px;
  left: 190px;
  }
  header .w1200 .mobileMenu .gnb li .hide::before{
    top:27px;
    left:-7px;
    transform: rotate(-45deg);
  }
  header .w1200 .mobileMenu .gnb>div{
  width: 100%;
  position: relative;
  }
/*  title  */
  #title ul li:nth-of-type(1) .titlePosition,
  #title ul li:nth-of-type(2) .titlePosition{
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  /* issue   */
  #issue .w1200 ul, #casestudy .w1200 ul{
  width: 100%;
  box-sizing: border-box;
  padding: 0px 18px 0 10px;
  }
  #issue .w1200 ul li a img,  #casestudy .w1200 ul li a img{
    width:100%;
  }
/* news   */
  #news .w1200 table tbody tr td:nth-child(1){
  width: 16%;
  }
/* footer   */
  footer .company .company_inform{
    padding:0 16px;
  }
  footer .list{
    padding:0 30px;
    box-sizing: border-box;
  }
  footer .company .company_inform > div:nth-child(1){
    text-align:center;
  }
  footer .company .company_inform ul li{
    text-align:center;
  }
  
/* 기타   */
  .more{
    top:10px;
    right:10px;
  }
  .sideBar{
    top:14%
  }
  
}
@media screen and (max-width:985px){
  footer .company .company_inform > div:nth-child(1){
    flex: 1 1 32rem;
    order:0;
    font-size:1.3rem;
  }
  footer .company .company_inform > div:nth-child(1) p{
    font-size:1.3rem
  }
  footer .company .company_inform > div:nth-child(2){
    order:2;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
  }
  footer .company .company_inform > ul{
    flex: 1 1 32rem;
    order:1;
  }
}
@media screen and (max-width:920px){
  footer .list{
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
@media screen and (max-width:876px){
  #showroom .w1200 ul li{
      padding: 6px 20px;
  }
}
@media screen and (max-width:767px){
  .more{
    right:5rem;
  }
  body{
    padding:0px;
    box-sizing: border-box;
  }
/* header */
  header .w1200 .gnb .productMenu > div{
    width:315px;
  }
  header .w1200 .gnb .productMenu>div>div{
    display:flex;
    width: 100%;
    position: relative;
  }
  header .w1200 .gnb .productMenu>div>div::before{
  content:"";
  display:block;
  width:100%;
  height:2px;
  background-color:#999;
  position:absolute;
  top:-5px;
  }
 header .w1200 .gnb .productMenu>div>div::after{
  content:"";
  display:block;
  width:100%;
  height:2px;
  border-top:1px dotted #999;
  position:absolute;
  bottom:-12px;
  }
  
  header .w1200 .gnb .productMenu>div>div:nth-of-type(2){
    margin:30px 0;
  }
  header .w1200 .gnb .productMenu>div>div h3{
    width:30%;
  }
  header .w1200 .gnb .productMenu>div>div h3::before{
    display:none;
  }
  header .w1200 .gnb .productMenu>div>div ul{
    width:70%;
  }
  header .w1200 .gnb .productMenu>div>div ul::before{
    display:none;
  }
  
  
/* title   */
  #title ul li .titlePosition{
    text-align: center;
  }

  #title .button-container{
    top:unset;
    bottom:30px;
  }
  #title .button-container div{
    width:30px;
    height:30px;
  }
/* showroom   */

/* issues   */
  #issue .w1200 ul{
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap:50px;
  }  
  #issue .w1200 ul li{
 
  }
  #issue .w1200 ul li a{
    text-align: center;
  }
  
/*  news   */
  #news .w1200 table{
    display:block;
  }
  #news .w1200 table tbody tr td:nth-child(1){
    width:13%;
  }
/*  casestudy  */
  #casestudy .w1200 ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    text-align: center;
  }
  #casestudy .w1200 ul li{

  }
/*  totop  */
  .toTop{
    width:unset;
  }
/*  quick menu  */
  .sideBar{
    display:none;
  }
  
/* footer   */
 footer .company .company_inform *{
    font-size:1.1rem !important;
  }
}
@media screen and (max-width:718px){
  #news .w1200 table tbody tr td{
    font-size:1.5rem
  }
}
@media screen and (max-width:710px){
  #showroom .w1200 ul li{
    font-size:1.3rem;
    padding: 6px 10px;
  }
}
@media screen and (max-width:674px){
  #news .w1200 table tbody tr td{
    font-size:1.2rem;
  }
  footer .company .company_inform > div:nth-child(1){
    flex:1 1 20rem;
  }
  footer .company .company_inform > ul{
    flex:1 1 20rem;
  }
}
@media screen and (max-width:576px){
  #title .titleList{
    bottom:30px;
  }
  #title ul{
    
    height:387px;
  }
  #title ul li{
    background-size: contain;
  }
}