@charset "utf-8";
#title{
  height:960px;
  background-color: rgb(255, 245, 214);
  padding: 0;
}
#title .block_center{
  height:100%;
  overflow: hidden;
  max-width: none;
  padding: 0;
  position:relative;
}
#title .block_center > ul{
  height:100%;
  display: flex;
  position: relative;
}
#title .block_center .container{
  height: 100%;
  width: calc(100% / 7);
  overflow: hidden;
  /*! margin: 0 250px; */
}
#title .block_center .container >div{
  position: relative;
  max-width: 1203px;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#title .block_center .container >div *:not(div){
  position:relative;
  z-index: 1;
}
#title .block_center .container  div h2{
  font-size: 54px;
line-height: 72px;
font-weight: 700;
color: #676d72 !important;
}
#title .block_center .container div p{
  font-size: 16px;
  line-height: 22px;
  color: #676d72 !important;
  margin-top: 20px;
}
#title .block_center .container div div a{

  color: #f9ce42;
}
#title .block_center .container div img{
  
  width: 60%;
  position: absolute;
  left: 52%;
  z-index: 0;
}
#title .block_center .titleList{
  position:absolute;
  bottom:10%;
  left: 50%;
  transform: translateX(-50%);
}
#title .block_center .titleList ul{
  display:flex;
  gap:15px;
}
#title .block_center .titleList ul li{
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
