@charset "utf-8";
.ham{
width: 20px;
height: 2px;
background-color: #fff;
position: absolute;
z-index: 3;
left: 50%;
top: 50%;
display: none;
transition: all 1s;
transform: translateX(-50%);
}
.ham::before{
  content:"";
  width:20px;
  height:2px;
  background-color:#fff;
  display:block;
  position:relative;
  top:-8px;
  z-index: 2;
}
.ham::after{
  content:"";
  width:20px;
  height:2px;
  background-color:#fff;
  display:block;
  position:relative;
  top:6px;
  z-index: 2;
}