@charset "utf-8";

main {}

/* ~~~~~~~~~~~~~~~~~~~ WORKS ~~~~~~~~~~~~~~~~~~~  */
#works {
  padding: 120px 0;
  background-color: #f8f9fa;
}

#works .block_center {
  max-width: 1140px;
  text-align: center;
}

#works .block_center h2 {
  color: #f69314;
  font-size: 40px;
  margin-bottom: 4rem;
  font-weight: 900;
}

#works .block_center ul {

  display: flex;
  justify-content: space-around;
}

#works .block_center ul li {

  padding-right: 3rem;
  line-height: 1.7;
  color: grey;
}

#works .block_center ul li span {
  width: 40px;
  height: 48px;
  font-size: 2.5rem;
  color: #f69314;
}

#works .block_center ul li h3 {

  margin-bottom: 1.2rem;
  color: #343a40;
  font-family: 'Playfair Display', serif;
}

#works .block_center ul li p {

  padding-bottom: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~ Properties ~~~~~~~~~~~~~~~~~~~ */
#properties {
  padding: 120px 0;
}

#properties .block_center {
  max-width: 1140px;
  text-align: center;
}

#properties .block_center h2 {
  text-align: left;
  font-size: 40px;
  margin-bottom: 4rem;
  color: #f69314;
  font-weight: 900;
}

#properties .block_center ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

#properties .block_center ul li {

  margin-right: 35px;
}

#properties .block_center ul li a {}

#properties .block_center ul li:hover a img {
  box-shadow: 0 40px 40px -5px rgba(0, 0, 0, 0.3)
}

#properties .block_center ul li a img {

  width: 100%;
  transition: all 0.5s;
}

#properties .block_center ul li>div {
  padding: 1rem;
  text-align: left;
}

#properties .block_center ul li div strong {

  font-size: 1.2rem;
  color: #343a40;
  margin-bottom: .5rem;
  display: block;
  font-weight: bolder;
}

#properties .block_center ul li div div {

  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  line-height: 1.7;
  margin-bottom: 0.5rem;
  color: grey;
}

#properties .block_center ul li div div span {

  position: relative;
}

#properties .block_center ul li div div span:nth-child(1)::after,
#properties .block_center ul li div div span:nth-child(2)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  top: 0;
  right: -14px;
}

#properties .block_center ul li div p {

  line-height: 1.7;
  font-size: 0.8rem;
  color: gray;
}

#properties .block_center>a {
  display: block;
  width: 27%;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #f69314;
  color: #fff;
  line-height: 1.5;
  transition: all 0.5s;
}

#properties .block_center>a:hover {
  background-color: #343a40;
}

/* ~~~~~~~~~~~~~~~~~~~ Company ~~~~~~~~~~~~~~~~~~~ */
#company {

  padding: 120px 0;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

#company .block_center {

  max-width: 1140px;

  display: flex;
  flex-direction: row-reverse;
}

#company .block_center>div {width: 50%;}

#company .block_center .right {
  color: grey;
  padding-left: 10%;
  box-sizing: border-box;
}

#company .block_center .right h2 {

  font-size: 40px;
  color: #f69314;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: 900;
}

#company .block_center .right p {
  line-height: 1.7;
  margin-bottom: 1rem;
}

#company .block_center .right p:nth-of-type(1) {
  font-size: 1.25rem;
  line-height: 1.7;
  margin-bottom: 1rem;
  font-weight: 300;
}

#company .block_center .right ul {

  margin-bottom: 50px;
}

#company .block_center .right ul li {
  margin-bottom: 15px;
  line-height: 1.5;
  position: relative;
  padding-left: 20px
}

#company .block_center .right ul li::before {
  content: "";
  display: inline-block;
  border-right: 1px solid #8bc34a;
  border-bottom:1px solid #8bc34a;
  position: absolute;
  left: 0;
  top: 2px;
  width: 6px;
  height: 16px;
  transform: rotate(45deg);
}

#company .block_center .right a {

  padding: 10px 30px;
  background-color: #f69314;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  border-radius: 30px;
  color: #fff;
  transition: all 0.5s;
  width: 150px;
  box-sizing: border-box;
}

#company .block_center .right a:hover {
  background-color: #343a40;
}

#company .block_center .left {
  /*! overflow: hidden; */
}
#company .block_center .left ul {
/*   width:600%;
  position:relative;
  left:-100%;
  top:0;
  transition:all 1s; */
/*  fade  */
  position: relative;
  width: 100%;
  height: 100%;
}
#company .block_center .left ul.end{

}
#company .block_center .left ul li{
/*   width:calc(100% / 6);
  float:left; */
/* fade   */
  width: 100%;
  height: 100%;
  opacity: 0;
  transition:opacity 0.5s linear 0s;
  position: absolute;
  top: 0;
  left: 0;
}
#company .block_center .left ul li.active{
  opacity: 1;
}
#company .block_center .left ul li::after{
  content:"";
  display:block;
  clear:both;
}
#company .block_center .left ul li img {
  width: 100%;
  height: 100%;
}

#company .block_center .left span {
  background-color: #f69314;
  position: relative;
  border-radius: 7px;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 180px;
  height: 81px;
  display: flex;
}

#company .block_center .left span button {

  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  width: 50%;
  height: 100%;
  display: inline;
  padding: 0;
}
#company .block_center .left span button.prev{
  border-right:1px solid #fff;
  box-sizing: border-box;
}
/* ~~~~~~~~~~~~~~~~~~~ people ~~~~~~~~~~~~~~~~~~~ */
#people {

  padding-top: 120px;
}

#people .block_center {

  max-width: 1140px;
  text-align: center;
}

#people .block_center h2 {

  font-size: 40px;
  color: #f69314;
  margin-bottom: 4rem;
  font-weight: 900;
}

#people .block_center p {

  line-height: 1.7;
  color: grey;
  font-size: 1.5rem;
  max-width: 800px;
  margin: 0 auto 3rem;
  font-style: italic;
}

#people .block_center p:nth-of-type(2) {
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

#people .block_center p img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 25px;
}

/* ~~~~~~~~~~~~~~~~~~~ news ~~~~~~~~~~~~~~~~~~~ */
#news {
  padding: 120px 0;
  border-top:1px solid #dee2e6
}

#news .block_center {
  max-width: 1140px;
  text-align: center;
}

#news .block_center h2 {

  color: #f69314;
  font-size: 40px;
  margin-bottom: 4rem;
  font-weight: 900;
}

#news .block_center ul {
  display: flex;
  justify-content: space-between;
}

#news .block_center ul li {

  padding: 0 15px;
}

#news .block_center ul li>a {

  font-size: 20px;
  text-align: left;
  display: inline-block;
  width: 100%;
  color: #1d2124;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
}

#news .block_center ul li a img {
  width: 100%;
  margin-bottom: 30px;
  height: 100%;
}

#news .block_center ul li div {

  text-align: left;
}

#news .block_center ul li div span {

  font-size: 13px;
  color: #b3b3b3;
}

#news .block_center ul li div span::after {
  content: "";
  display: inline-block;
  border: 1px solid #b3b3b3;
  vertical-align: middle;
  margin-left: 5px;
}

#news .block_center ul li div a {
  font-size: 13px;
  color: #f69314;
}

#news .block_center ul li div a:hover {
  color: #b76a07;
}

/* ~~~~~~~~~~~~~~~~~~~ contact ~~~~~~~~~~~~~~~~~~~ */
#contact {
  padding: 120px 0;
  background-color: #f8f9fa;
}

#contact .block_center {
  max-width: 1140px;
  overflow: hidden;
}

#contact .block_center h2 {

  text-align: center;
  font-size: 40px;
  color: #f69314;
  margin-bottom: 4rem;
  font-weight: 900;
}

#contact .block_center form {

  float: left;
  width: 50%;
  background-color: #fff;
  padding: 3rem;
  box-sizing: border-box;
}

#contact .block_center form fieldset {
  width: 100%;
}

#contact .block_center form fieldset legend {

  font-size: 1.5rem;
  margin-bottom: 3rem;
  font-family: 'Playfair Display', serif;
}

#contact .block_center form fieldset span {
  display: inline-block;
  width: 49%;
  overflow: hidden;
}

#contact .block_center form fieldset span:nth-of-type(1) {
  float: left;
}

#contact .block_center form fieldset span:nth-of-type(2) {
  float: right;
}

#contact .block_center form fieldset span label {
  display: block;
}

#contact .block_center form fieldset span input {}

#contact .block_center form fieldset label {

  margin-bottom: 0.5rem;
  display: inline-block;
}

#contact .block_center form fieldset input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  height: 43px;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  transition: all 0.3s;
  margin-bottom: 1rem;
}

#contact .block_center form fieldset input:focus {
  outline: none;
  border: 1px solid #f69314
}

#contact .block_center form fieldset textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  transition: all 0.3s;
  margin-bottom: 1rem;
}

#contact .block_center form fieldset textarea:focus {
  outline: none;
  border: 1px solid #f69314
}

#contact .block_center form fieldset button {
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid #f69314;
  display: block;
  line-height: 1.5;
  font-size: 16px;
  background-color: #f69314;
  color: #fff;
  transition: all 0.3s
}

#contact .block_center form fieldset button:hover {
  background-color: #343a40;
  border-color: #343a40;
}

#contact .block_center ul {

  float: right;
  width: 39%;
  background-color: #fff;
  padding: 1.5rem;
  box-sizing: border-box;
}

#contact .block_center ul li {}

#contact .block_center ul li h3 {
  color: grey;
  line-height: 1.7;
  font-weight: 700;
}

#contact .block_center ul li p {
  color: grey;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

#contact .block_center ul li a {
  line-height: 1.7;
  color: #f69314;
  display: inline-block;
  margin-bottom: 1.5rem;
  transition: all 0.3s
}

#contact .block_center ul li:nth-of-type(3) a {
  margin: 0;
}

#contact .block_center ul li a:hover {
  color: #b76a07
}
