@charset "utf-8";
#title{
  height:100%;
  background-image: url(https://technext.github.io/stated/images/hero_1.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-color:rgba(52,58,64,0.9);
  background-blend-mode:multiply;
  min-height: 600px;
}

#title .block_center{
  max-width: 1140px;
  text-align: center;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title .block_center h2{
  color: #fff;
  font-size: 3rem;
  width: 50%;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-weight:900;
}
#title .block_center p{
  color:#fff;
  font-size:1rem;
  width:50%;
  line-height:1.5;
}