@charset "UTF-8";
*:not(i) {
  font-family: 'Noto Sans KR', sans-serif !important;
}
/* 공통클래스 스타일 */
.hide {
  display: none;
}
.center{
  margin: 0 auto;

}
.block{
  display:block;
}
input:focus{
  outline: none;
}