@charset "utf-8";
/* -----------------------하단영역----------------------- */
footer{

  background-color: #ddd;
}
footer  .center{

  width: 1000px;
  font-size: 13px;
  padding: 15px 0;
}
footer  .center ul{
  display:flex;
  float: left;
}
footer  .center ul li{

}
footer  .center ul li a{
padding: 0 4px;
line-height: 3.2;
  display:block;
  font-size:16px;
  color:#666;
}
footer .center ul li:nth-child(2) a{
  color:#000;
}
footer  .center ul li a:hover{
  text-decoration: underline;
}
footer  .center>span{
  float: right;
  display:flex;
}
footer  .center > span a{
  line-height:3.2;
  margin:0 3px;
  display:inline-block;
  background-color: #fff;
  padding: 0 12px;
  position: relative;
  color: #666;
}
footer  .center > span a+a{
  padding-right:25px;

}
footer  .center > span a+a:hover{
  color:#000;
}
footer  .center > span a+a::before{
  content:">";
  transform: rotate(-90deg) scaleY(2);
  top:-5px;
  right:9px;
}
footer  .center > span a+a::after{
  content:"I";
  transform: scaleY(1.5);
}
footer  .center > span a+a::before{
  position:absolute;
  
}
footer  .center > span a+a::after{
  position:absolute;
  right:10px;
}
footer  .center h1 a{

  clear: both;
  float: left;
  width: 14%;
  background-image: url(https://cloud.eais.go.kr/images/common/molit_logo.svg);
  text-indent: -9999px;
  background-repeat: no-repeat;
  height: 38px;
  margin-top: 30px;
}
footer  .center h1 a::before{
  content: "";
  display:inline-block;
}
footer  .center address{
  float:right;
  width: 86%;
  line-height: 1.6;
  margin-top: 30px;
  color:#666;
}
footer  .center address span{

  float: right;
  text-align: right;
}
footer  .center address span strong{

  color: #0072bc;
}
footer  .center address span span{
  color:#999;
}
footer  .center .copyright{
    
  clear: both;
  position: relative;
  top: -17px;
  margin-left:14%;
  color:#666;
}
footer  .center .copyright strong{
    
}
footer .block center .card{

}
footer .block center .card{
    
}
