@charset "UTF-8";

/* 메인영역 */
main {}

/* 팝업창 닫기 버튼 */
#popup .right {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  position: relative;
  z-index: 6;
  top: 150px;
  left: calc(50% - 650px);
}

#popup .right a {
  color: #fff;
  position: relative;
  padding: 50px 10px 0;
  margin-bottom: 20px;

}

#popup .right a::before {
  content: "";
  width: 2px;
  height: 35px;
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0px;
  transform: rotate(-45deg);
  left: calc(50% - 1px);
}

#popup .right a::after {
  content: "";
  width: 2px;
  height: 35px;
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  left: calc(50% - 1px);
}

#popup .right p {

  color: #fff;
  padding-top: 20px;
  border-top: 1px solid #fff;
}

/* 우측 퀵메뉴 */
#aside {
  position: fixed;
  right: 50px;
  top: 88px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  width: 165px;
}

#aside .qlist {}

#aside .qlist li {
  margin-bottom: 10px;
}

#aside .qlist li::before {
  content: "";
  display: inline-block;
  line-height: 2;
  vertical-align: 3px;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  text-align: right;
  background-color: #8f9fb0;
  margin-left: 17px;
  border-radius: 50%;
}

#aside .qlist li:hover::before {
  content: "";
  font-size: 13px;
  background-color: transparent;
  width: 25px;
  height: 25px;
  margin-left: 0;
  color: #8f9fb0;
}

#aside .qlist li:nth-child(1):hover::before {
  content: "- 01";

}

#aside .qlist li:nth-child(2):hover::before {
  content: "- 02";
}

#aside .qlist li:nth-child(3):hover::before {
  content: "- 03";

}

#aside .qlist li:nth-child(4):hover::before {
  content: "- 04";
}

#aside .qlist li a {
  line-height: 1.6;
  display: inline-block;
  width: 72%;
  font-size: 17px;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  color: #8f9fb0
}

#aside .qlist li:hover a {
  background-color: #8f9fb0;
  color: #fff;
}

#aside .qlist li a:nth-child(1) {}

}

#aside .qlist2 {}

#aside .qlist2 li {
  height:
}

#aside .qlist2 li a {
  display: inline-block;
  padding: 15px 10px 15px 76px;
  border-bottom: 1px solid #1eb5ee;
  background-repeat: no-repeat;
  background-position: 10% center;
  color: #1f446a;
  line-height: 1.6;
}

#aside .qlist2 li:nth-child(3) a {
  border: none;
}

#aside .qlist2 li:nth-child(4) a {
  border: none;
  background-color: #d3f1fd;
  margin-top: 20px;
}

#aside .qlist2 li a:hover {
  color: #1eb5ee;
}

#aside .qlist2 li:nth-child(1) a {
  background-image: url(https://cloud.eais.go.kr/images/main/main_icn_local01.png)
}

#aside .qlist2 li:nth-child(2) a {
  background-image: url(https://cloud.eais.go.kr/images/main/main_icn_local02.png)
}

#aside .qlist2 li:nth-child(3) a {
  background-image: url(https://cloud.eais.go.kr/images/main/main_icn_local03.png)
}

#aside .qlist2 li:nth-child(4) a {
  background-image: url(https://cloud.eais.go.kr/images/main/main_icn_local04.png)
}

section {
  height: 100%;
}

/* 민원신청 --------------------------- */
#apply {}

#apply .center {
  padding-top: 25px;
  text-align: center;
}

#apply div h2 {}

#apply div h2+p {
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center;
}

#apply div h2+p strong {
  color: #2e3754;
  font-weight: bold;
}

#apply div fieldset {

  display: inline-block;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 6px;
  background-color: #48c6f7;
}

#apply div fieldset input {

  width: 660px;
  height: 47px;
  display: inline-block;
  border: none;
  padding-left: 20px;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
  color: #3da2dc;
}

#apply div fieldset button {

  font-size: 20px;
  border: none;
  background-color: transparent;
  color: #fff;
}

#apply div fieldset+p {

  margin-bottom: 50px;
}

#apply div fieldset+p strong {

  background-color: #587a99;
  padding: 2px 20px;
  color: #fff;
  border-radius: 50px;
  margin-right: 30px;
}

#apply div ul {}

#apply div ul li {

  display: inline-block;
  width: 186px;
  height: 220px;
  background-color: rgba(255, 255, 255, 0.8);
  vertical-align: top;
  cursor: pointer;
  transition: all 0.4s;
  border: 1px solid transparent;
  box-sizing: border-box;
}

#apply div ul li:hover {
  background-color: #fff;
  border: 1px solid #0066cc;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5);
}

#apply div ul li:nth-child(6):hover a {
  color: #000;
}

#apply div ul li p {}

#apply div ul li p::before {
  content: "";
  display: block;
  width: 100px;
  height: 80px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 18px;
}

#apply div ul li:nth-child(1) p::before {
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_01.png);
}

#apply div ul li:nth-child(2) p::before {
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_02.png);
}

#apply div ul li:nth-child(3) p::before {
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_03.png);
}

#apply div ul li:nth-child(4) p::before {
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_04.png);
}

#apply div ul li:nth-child(5) p::before {
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_05.png);
}

#apply div ul li a {
  margin-top: 10px;
  display: inline-block;
  padding: 5px;
  color: #fff;
}

#apply div ul li:nth-child(6) a {
  color: #8f98a8;
}

#apply div ul li:nth-child(6) a::before {
  content: "+";
  display: block;
  width: 74px;
  height: 74px;
  background-color: #8f98a8;
  color: #fff;
  font-size: 40px;
  border-radius: 50%;
  margin: 36px 0 18px;
  line-height: 1.6;
  transition: all 1s;
}

#apply div ul li:nth-child(6):hover a::before {
  transform: rotatey(180deg);
}

#apply div ul li .permit {

  background-color: #f54a47;
}

#apply div ul li .permit:hover {

  background-color: #ef0000;
}

#apply div ul li .declaration {

  background-color: #3da2dc;
}

#apply div ul li .declaration:hover {

  background-color: #006cc7;
}

#apply div ul li .extension {

  background-color: #39b54a;
}

#apply div ul li .extension:hover {

  background-color: #008a00;
}

#apply div ul li .more {}

#apply .call {

  margin-top: 30px;
}

#apply .call strong {
  color: #f54a47;
}

#apply .time {
  color: #666;
  margin-top: 10px
}

#apply .center>span {

  margin-top: 70px;
  display: block;
}

#apply span a {

  display: inline-block;
  width: 270px;
  padding: 9px 0 11px;
  box-sizing: border-box;
}

#apply span a:nth-child(1) {
  background: linear-gradient(150deg, #3da2dc, #48c6f7 70%);
  color: #fff;
}

#apply span a:nth-child(2) {
  color: #8f98a8;
  background-color: #fff;
}

#apply span a:nth-child(2):hover {
  color: #000;
}


/* 건축물대장 --------------------------*/
#architecture {

  background-color: #dde4ec;
  padding-bottom: 30px;
}

#architecture .center {

  padding-top: 0;
  margin-top: 100px;
  max-width: 1200px;
  text-align: center;
}

#architecture .center h2 {

  font-size: 33px;
  padding-top: 75px;
  font-weight: bold;
}

#architecture .center>p {
  line-height: 1.6;
  margin-top: 20px;
  color: #666;
}

#architecture .center ul {

  margin-top: 30px;
  overflow: hidden;
}

#architecture .center ul li {

  float: left;
}

#architecture .center ul li a {
  width: 380px;
  display: block;
  background-color: #fff;
  box-sizing: border-box;
}

#architecture .center ul .bigbtn {
  margin-right: 20px;
  background-color: #999;
}

#architecture .center ul .bigbtn a {
  height: 350px;
}

#architecture .center ul .bigbtn:nth-child(1) a {
  background: linear-gradient(to bottom, #a0ddf8 70%, #fff 70%);
}

#architecture .center ul .bigbtn:nth-child(2) a {
  background: linear-gradient(to bottom, #99dbec 70%, #fff 70%);
}

#architecture .center ul .bigbtn a h3 {
  height: 70%;
  background-repeat: no-repeat;
  background-position: center 90%;
  padding: 13%;
  box-sizing: border-box;
  font-size: 28px;
}

#architecture .center ul .bigbtn:nth-child(1) a h3 {
  background-image: url(https://cloud.eais.go.kr/images/main/main02_ricn_01.png)
}

#architecture .center ul .bigbtn:nth-child(2) a h3 {
  background-image: url(https://cloud.eais.go.kr/images/main/main02_ricn_02.png)
}

#architecture .center ul .bigbtn a h3 strong {
  font-weight: 700;
}

#architecture .center ul .bigbtn a p {
  line-height: 1.3;
  font-size: 13px;
  padding-top: 33px;
  color: #666;
}

#architecture .center ul .bigbtn a:hover p {
  color: #000;
}

#architecture .center ul .smallbtn {}

#architecture .center ul .smallbtn:nth-child(3) {
  margin-bottom: 20px;
}

#architecture .center ul .smallbtn a {
  height: 165px;
  background-repeat: no-repeat;
  background-position: 90% center;
  box-sizing: border-box;
  text-align: left;
  position: relative;
}

#architecture .center ul .smallbtn:nth-child(3) a {
  background-image: url(https://cloud.eais.go.kr/images/main/main02_ricn_03.png);
}

#architecture .center ul .smallbtn:nth-child(4) a {
  background-image: url(https://cloud.eais.go.kr/images/main/main02_ricn_04.png);
}

#architecture .center ul .smallbtn a h3 {
  position: absolute;
  top: 40%;
  left: 20px;
  font-weight: 700;
  font-size: 28px;
}

#architecture .center ul .smallbtn:nth-child(3) a h3 {
  line-height: 1.3;
  top: 30%;
}

#architecture .center>span {
  display: block;
  margin-top: 50px;
}

#architecture .center span a {
  display: inline-block;
  width: 257px;
  height: 40px;
  line-height: 38px;
  padding-right: 10px;
  border: 1px solid #666;
  border-radius: 24px;
  font-size: 14px;
  color: #333;
  background-repeat: no-repeat;
  background-position: 90% center;
}

#architecture .center span a:nth-child(1) {
  background-image: url(https://cloud.eais.go.kr/images/icon/icn_download.png)
}

#architecture .center span a:nth-child(2) {
  background-image: url(https://cloud.eais.go.kr/images/icon/icn_pdf.png)
}

#architecture p.alert {
  margin-top: 30px;
  font-size: 13px;
  line-height: 1.6;
}

/* 협의, 공모외 ------------------------*/
#collusion {

}


#collusion .center {
  position: relative;
  overflow: hidden;
  height: 683px;
}

#collusion .center .slide {
  overflow: hidden;
  width: 300%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 1s;
}

#collusion .center .slideitem {
  margin: 0 auto;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center right;
  padding: 140px 0 300px;
  padding-left: calc((33.3333% - 1000px) / 2);
  padding-right: calc((33.3333% - 1000px) / 2);
  background-origin: content-box;
  background-size: 46%;
  float: left;
  width: calc(100% / 3);
  box-sizing: border-box;
  text-align: left;
  height:100%
}
#collusion .center .slide1{
  background-image: url(https://cloud.eais.go.kr/images/main/main03_vis_cybersys.jpg);
  background-color: #2d78de;
}
#collusion .center .slide2{
  background-image: url(https://cloud.eais.go.kr/images/main/main03_vis_exh.jpg);
  background-color: #5861da;
}
#collusion .center .slide3{
  background-image: url(https://cloud.eais.go.kr/images/main/main03_vis_cloud.jpg);
  background-color: #b53999;
}

#collusion .center .slideitem h2 {
  font-size: 20px;

  margin-bottom: 20px;

}

#collusion .center .slideitem h2 strong {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.1;
  margin-top: 8px;
  display: block;

}

#collusion .center .slideitem p {
  font-size: 13px;
  margin-bottom: 26px;

}

#collusion .center .slideitem a {
  color: #fff;
  border: 1px solid;
  font-size: 14px;
  padding: 7px 13px;
  display: inline-block;
}

#collusion .center .control {

  max-width: 1100px;
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0 auto;
  left: calc(50% - 550px);
}

#collusion .center .control button {
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  transform: rotate(45deg);
  background: transparent;
  cursor: pointer;
}

#collusion .center .control button:first-child {

  float: left;
  border-top: none;
  border-right: none;
}

#collusion .center .control button:last-child {
  float: right;

  border-bottom: none;
  border-left: none;

}

#collusion .center .list {

  display: flex;

  width: 960px;
  margin: 0 auto;
  justify-content: space-around;
  position: absolute;
  left: 25%;
  bottom: 91px;
}

#collusion .center .list li {

  margin-top: 50px;
  border-top: 2px solid #fff;
  opacity: 0.5;
  transition: all 1s;
}
#collusion .center .list li.show {
  opacity:1; 
}

#collusion .center .list li a {

  padding: 10px 70px;
  display: block;
  color: #fff;
}

/* 유용한 서비스 -----------------------*/
#service {
  text-align: center;
  padding-top: 100px;
}

#service .center {

  max-width: 1200px;
}

#service .center h2 {
  font-size: 33px;
  font-weight: 700;
}

#service .center .servicelist {

  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

#service .center .servicelist li {}

#service .center .servicelist li a {
  display: block;
  width: 196px;
  height: 130px;
  border-right: 2px dotted #ddd;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 46%;
  color: #666;
  line-height: 1.3;
}

#service .center .servicelist li a:hover {
  text-decoration: underline;
}

#service .center .servicelist li:nth-child(1) a {
  background-image: url(https://cloud.eais.go.kr/images/main/main04_sev_icn_01.png);
}

#service .center .servicelist li:nth-child(2) a {
  background-image: url(https://cloud.eais.go.kr/images/main/main04_sev_icn_02.png);
}

#service .center .servicelist li:nth-child(3) a {
  background-image: url(https://cloud.eais.go.kr/images/main/main04_sev_icn_03.png);
}

#service .center .servicelist li:nth-child(4) a {
  background-image: url(https://cloud.eais.go.kr/images/main/main04_sev_icn_04.png);
}

#service .center .servicelist li:nth-child(5) a {
  background-image: url(https://cloud.eais.go.kr/images/main/main04_sev_icn_05.png);
}

#service .center .servicelist li:nth-child(6) a {
  background-image: url(https://cloud.eais.go.kr/images/main/main04_sev_icn_06.png);
  border-right: none;
}

#service .center .servicecontent {

  display: flex;
  justify-content: space-between;
}

#service .center .servicecontent .serviceslide {
  position: relative;
}

#service .center .servicecontent .serviceslide ul {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 87.3px;
  justify-content: space-between;
  top: 10px;
  left: 10px;
}

#service .center .servicecontent .serviceslide ul li {}

#service .center .servicecontent .serviceslide ul li a {
  display: block;
  width: 26.3px;
  height: 26.3px;
  background-color: #fff;
  color: #666;
  line-height: 26.3px;
  text-align: center;
}

#service .center .servicecontent .serviceslide ul li a:hover {
  background-color: #000;
  color: #fff;
}

#service .center .servicecontent .serviceslide .serviceslide1 {}

#service .center .servicecontent .serviceslide .serviceslide1 a {
  display: block;
  width: 379px;
  height: 307px;
  background: -moz-linear-gradient(-45deg, #f99da8 45%, #e75b66 73%);
  text-align: right;
  color: #fff;
  box-sizing: border-box;
  padding-right: 30px;
  padding-top: 50px;
  position: relative;
  text-indent: 0;
}

#service .center .servicecontent .serviceslide .serviceslide1 a::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/notebook.png);
  position: absolute;
  top: 0px;
  left: 0;
}

#service .center .servicecontent .serviceslide .serviceslide1 a div {
  margin-bottom: 75px;
}

#service .center .servicecontent .serviceslide .serviceslide1 a div h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

#service .center .servicecontent .serviceslide .serviceslide1 a div p {
  font-size: 18px;
  line-height: 1.2;
}

#service .center .servicecontent .serviceslide .serviceslide1 a>span {
  display: inline-block;
  background-color: #000;
  padding: 7px 30px;
  border-radius: 50px;
  font-size: 14px;
}

#service .center .servicecontent>div {
  width: 379px;
  height: 307px;

  text-align: left;
}

#service .center .servicecontent .notice {
  box-sizing: border-box;
  padding: 25px;

  background-color: #f2f6fb;
}

#service .center .servicecontent .notice h3 {
  float: left;
}

#service .center .servicecontent .notice .more {
  float: right;
}

#service .center .servicecontent .notice ul {
  clear: both;
  margin-top: 40px;
}

#service .center .servicecontent .notice ul li {
  margin-bottom: 20px;
  width: 300px;
}

#service .center .servicecontent .notice ul li a {}

#service .center .servicecontent .notice ul li a {
  display: block;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  color: #333;
  height: 18px;
}

#service .center .servicecontent .notice ul li a:hover {
  text-decoration: underline;
}

#service .center .servicecontent .notice ul li time {
  margin-top: 8px;

  font-size: 14px;
  color: #999;
  font-weight: 300;
  display: block;
}

#service .center .servicecontent .errorstatus {
  box-sizing: border-box;
  padding: 25px;
  background-color: #efefef;
}

#service .center .servicecontent .errorstatus h3 {
  float: left
}

#service .center .servicecontent .errorstatus .more {
  float: right;
}

#service .center .servicecontent .errorstatus ul {
  clear: both;
  margin-top: 40px;
}

#service .center .servicecontent .errorstatus ul li {
  margin-bottom: 20px;
}

#service .center .servicecontent .errorstatus ul li a {
  color: #666;
}

#service .center .servicecontent .errorstatus ul li a:hover {
  color: #000;
  text-decoration: underline;
}

#service .center .servicecontent .errorstatus ul li div {
  float: right;
  color: #fff;
  padding: 4px 9px;
  border-radius: 50px;
  font-size: 13px;
}

#service .center .servicecontent .errorstatus ul li .recover {
  background-color: #0066cc;
}

#service .center .servicecontent .errorstatus ul li .conneteroor {
  background-color: #f54a47;
}

/* #service .center .servicecontent div h3::after----------------------------------------- */
#service .center .servicecontent .notice h3::after,
#service .center .servicecontent .errorstatus h3::after {
  content: "";
  display: block;
  width: 27px;
  height: 0px;
  border: 1px solid #f06479;
  margin-top: 10px
}
/* -------------------------------------------------------------------------------- */
#service .center .servicecontent div h3 {
  font-weight: bold;
}

#service .center .servicecontent div>a {
  background-image: url(https://cloud.eais.go.kr/images/icon/icn_plusl.png);
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
}

#service .center .servicebottom {
  height: 50px;

  margin: 60px 0;
}

#service .center .servicebottom fieldset {
  display: inline-block;
  border: 2px solid #666;
}

#service .center .servicebottom fieldset input {
  width: 470px;
  height: 44px;
  padding-left: 15px;
  box-sizing: border-box;
  border: none;
  font-size: 18px;
}

#service .center .servicebottom fieldset button {
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  position: relative;
}

#service .center .servicebottom fieldset button::before {
  content: "";
  display: block;
  height: 34px;
  border-left: 1px solid #000;
  position: absolute;
  left: 0;
  top: -5px;

}

#service .center .servicebottom span {
  display: inline-block;
  vertical-align: middle;
  ;
  margin-right: 10px;
}

#service .center .servicebottom ul {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}

#service .center .servicebottom ul li {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #eee;
  padding: 5px;
  height: 50px;
  box-sizing: border-box;
  width: 133px;
}

#service .center .servicebottom ul li a {
  vertical-align: middle;
  font-weight: 700;
  font-size: 10px;
  color: #333;
}

#service .center .servicebottom ul li:nth-child(2) a {
  color: #00aeef;
  font-size: 16px;
}

#service .center .servicebottom ul li a strong {
  color: #002157;
  font-weight: 700;
  font-size: 16px;

}

/* -----------------------배너----------------------- */
#banner {
  position: relative;
  text-align: center;
  background: #eee;

  padding: 20px;
}

#banner ul {
  width: 1000px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  position: relative;
  z-index: 2;
}

#banner ul li {}

#banner ul li a {}

#banner ul li a img {

  width: 95px;
  height: 45px;
}

#banner .control {
  position: absolute;
  width: calc(100% - (100% - 1000px));
  left: calc(50% - 500px);
  top: 38%;
}

#banner .control a {
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  border: 2px solid #bbb;
  transform: rotate(45deg);
}

#banner .control .prev {
  float: left;
  border-top: transparent;
  border-right: transparent;
}

#banner .control .next {
  float: right;
  border-bottom: transparent;
  border-left: transparent;
}