@charset "utf-8";
/*  건축행정시스템 소개*/
#introduce{
  margin-bottom: 150px;
  padding-top:75px;
}
/* 페이지경로 */
#introduce .history{
  border-bottom:1px solid;
  padding-left:calc((100% - 1200px) / 2);
  padding-right:calc((100% - 1200px) / 2);
  overflow:hidden;
  margin:0 auto;
height: 52px;
}
#introduce .history p{
  float: left;
  line-height: 52px;
  color: #666;
}
#introduce .history p a{
  color: #666;
}
#introduce .history p i{
  vertical-align: middle;
}
#introduce .history p strong{
  color:#000;
  font-weight: 700;
}
#introduce .history span{
  float: right;
  margin-right:160px;
  line-height: 52px;
}
#introduce .history span button{
    width:27px;
  height:27px;
  padding:0;
    vertical-align: middle;
}

#introduce .history span button:first-child{
  background-color: transparent;
border: navajowhite;
display: inline-block;
background-image: url(../img/print.svg);
width: 24px;
height: 24px;
text-indent: -9999px;
}
#introduce .history span button::before{
  font-size:10px;
  text-indent:0px;
}
#introduce .history span button:nth-child(2)::before{
  content:"가+";
}
#introduce .history span button:nth-child(3)::before{
  content:"가";
}
#introduce .history span button span{
  margin:0;
  display: inline-block;
}

/* 컨텐츠 */
#introduce .center{
  max-width:1200px;
  margin:0 auto;
}
#introduce .contents{
  
}
#introduce .contents h2{
  
  font-weight: 700;
  font-size: 2.0625em;
  margin: 40px 0;
}
#introduce .contents .list{
  display: flex;
justify-content: space-between;
}
#introduce .contents .list li{
  
  width:25%;
}
#introduce .contents .list li a{
  display:block;
  padding:13px 0 15px;
  border:1px solid #ccc;
  border-left:0;
  text-align: center;

}
#introduce .contents .list li:nth-child(1) a{
  border-left:1px solid #ccc;
}
#introduce .contents .list li:hover a{
background-color:#0e5cad;
  color:#fff;
}
/* 요약 */
#introduce .contents .summary{
  
  background-image: url(https://cloud.eais.go.kr/images/contents/intro_bg01.png);
  background-repeat:no-repeat;
  background-position:bottom;
  padding-bottom: 200px;
}
#introduce .contents .summary h3{
  
  color: #00aeef;
  font-weight: bold;
  font-size: 1.375em;
  margin: 30px 0;
}
#introduce .contents .summary>p{
  
  font-size: 1.1875em;
  line-height: 1.3;
}
#introduce .contents .summary>p strong{
  font-weight:bold;
  
}
#introduce .contents .summary ul{
  
}
#introduce .contents .summary ul li{
 display:inline-block;
  width:49%;
 margin-top: 40px;
}
#introduce .contents .summary ul li:last-child{
 display:inline-block;
  width:100%;
}
#introduce .contents .summary ul li h4{
    width: 140px;
    padding: 45px 0;
    background-color: #00aeef;
    border-radius: 100%;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
  display:inline-block;
  vertical-align: middle;
    height: 140px;
    box-sizing: border-box;
  margin-right:35px;
    font-weight: bold;
}
#introduce .contents .summary ul li div{
  display:inline-block;
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  padding: 30px 0;
  vertical-align: middle;
  width: 65%;
  font-size: 1.1875em;
}
#introduce .contents .summary ul li:last-child div{
  width:50%;
}


#introduce .contents .summary ul li p{
 
  line-height: 1.6;
}
#introduce .contents .summary ul li p span{
  color:#06c;
  font-weight:bold;
}

/* 내용 */
#introduce .contents .saeumter{
  
}
#introduce .contents .saeumter .system{
  background-color: #f5f8fa;
  margin: 50px 0;
}
#introduce .contents .saeumter .system .center{
  height:100%;
}
#introduce .contents .saeumter .system .center>div{
padding-right: calc((100% - 800px) / 2);
padding-left: calc((100% - 800px) / 2);
position: relative;
display: flex;
justify-content: space-between;
height: 300px;
box-sizing: border-box;
padding-top: 88px;
padding-bottom: 88px;
}
#introduce .contents .saeumter .system .center h3{
  position: absolute;
  top: calc(50% - 99px / 2);
  left: calc(50% - 360px / 2);
  text-indent:-9999px;
  background-image:url(../img/intro_vision_logo.png);
  width: 360px;
  height: 99px;
}

#introduce .contents .saeumter .system div .left{

  width: 33%;
}

#introduce .contents .saeumter .system div .left h4{

}
#introduce .contents .saeumter .system div .left h4::before{
  content:"";
  display:block;
  width:10px;
  height:10px;
  background-color:#999;
  border-radius:50%;
  left:25%;
  top:calc(50% - 5px);
}
#introduce .contents .saeumter .system div .left h4::after{
  content:"";
  display:block;
  width:200px;
  height:1px;
  background-color:#999;
  top:calc(50% - 1px / 2);
  left:25%;
}
#introduce .contents .saeumter .system div .left p{
  
  color: #090;
}

#introduce .contents .saeumter .system div .right{
  text-align: right;
  width: 33%;
}
#introduce .contents .saeumter .system div .right h4{

  ;
  top: 62.4px;
}
#introduce .contents .saeumter .system div .right h4::before{
  content:"";
  display:block;
  width:10px;
  height:10px;
  background-color:#999;
  border-radius:50%;
  right:28%;
  top:calc(50% - 5px);
}
#introduce .contents .saeumter .system div .right h4::after{
  content:"";
  display:block;
  width:200px;
  height:1px;
  background-color:#999;
  top:calc(50% - 1px / 2);
  right:28%;
}
#introduce .contents .saeumter .system div .right p{
  
  position: relative;
  color: #036;
  top: -61.6px;
}
#introduce .contents .saeumter .system div div h4{
  margin:20px 0;
  position:relative;
  color: #666;
  font-weight: 500;
  font-size: 20px;
}
#introduce .contents .saeumter .system div div h4::before{
  position:absolute;
}
#introduce .contents .saeumter .system div div h4::after{
  position:absolute;
}
#introduce .contents .saeumter .system div div p{
  line-height: 1.3;
  font-size: 24px;
  font-weight: 700;
}
#introduce .contents .saeumter .list{
  
  margin-bottom: 133px;
}
#introduce .contents .saeumter .list li{
  text-align: center;
  position:relative;
}
#introduce .contents .saeumter .list li::before{
  content:"";
  display:block;
  width:122px;
  height:112px;
  margin:0 auto;
  margin-bottom:20px
}
#introduce .contents .saeumter .list li:nth-child(1)::before{
  background-image:url(https://cloud.eais.go.kr/images/contents/intro_vision_vv01.png)
}
#introduce .contents .saeumter .list li:nth-child(2)::before{
  background-image:url(https://cloud.eais.go.kr/images/contents/intro_vision_vv02.png)
}
#introduce .contents .saeumter .list li:nth-child(3)::before{
  background-image:url(https://cloud.eais.go.kr/images/contents/intro_vision_vv03.png)
}
#introduce .contents .saeumter .list li:nth-child(4)::before{
  background-image:url(https://cloud.eais.go.kr/images/contents/intro_vision_vv04.png)
}
#introduce .contents .saeumter .list li::after{
  content:"";
  width:1px;
  height:150px;
  background-color:#e5e5e5;
  position:absolute;
  top:29px;
  right:0;
}
#introduce .contents .saeumter .list li:nth-child(4)::after{
  display:none;
}
#introduce .contents .saeumter .list li h3{
  color:#036;
  font-size:1.375em;
  margin-bottom:20px;
  font-weight: bold;
}
#introduce .contents .saeumter .list li p{
  
  font-weight: bold;
  font-size: 1em;
}
#introduce .contents .saeumter .center>h3{
  
  margin-bottom: 20px;
  font-size: 1.5em;
  padding-left: 5px;
  font-weight:700;
}
#introduce .contents .saeumter .primary{
  
}
#introduce .contents .saeumter .primary li{
  overflow:hidden;
  
}
#introduce .contents .saeumter .primary li::before{
  content:"";
  display:block;
  width:200px;
  height:1px;
  background-color: #48c6f7;
}
#introduce .contents .saeumter .primary li hgroup{
  
  float:left;
  width:20%;
  line-height: 1.4;
}
#introduce .contents .saeumter .primary li hgroup h4{
  
  margin-top: 30px;
  color: #00aeef;
  font-size: 1.5em;
  font-weight: 700;
}
#introduce .contents .saeumter .primary li hgroup h5{
  
  margin-bottom: 100px;
  color: #036;
  font-weight: 700;
  font-size: 0.9375em;
}
#introduce .contents .saeumter .primary li div{
  float:right;
  width:80%;
  font-size: 1.25em;
  font-weight: 300;
}
#introduce .contents .saeumter .primary li div p{ 
  font-weight:500;
  margin-bottom:10px
}
#introduce .contents .saeumter .primary li div p+pre+p{ 
  
  color: #f54948;
  margin-top: 10px;
}
#introduce .contents .saeumter .primary li div pre{
  white-space: pre-line;
  width:100%;
  line-height: 1.6;
  padding:10px 20px;
  background-color:#eee;
  color: #666;
}
#introduce .contents .saeumter .primary li div pre span{
  width:120px;
  display:inline-block;
}
#introduce .contents .saeumter .primary li div pre strong{
  color:#036;
  font-weight: bold;
}
/* 대상업무 */
#introduce .contents .saeumter .tesk{
  
  border-top: 1px solid #000;
}
#introduce .contents .saeumter .tesk li{
  width:100%;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
#introduce .contents .saeumter .tesk li h4{
  width:20%;
  box-sizing:border-box;
  float: left;
  padding: 15px 20px;
  background-color: #f5f5f5;
}
#introduce .contents .saeumter .tesk li p{
  float: right;
  width:80%;
  box-sizing:border-box;
  padding: 15px;
}

/* 사이드메뉴 */
aside{
width:75px;
text-align: center;
padding: 10px;
position:fixed;
 top:393px;
  right:40px;
  z-index: 10;
}
aside span{
  
}
aside span a{
  
}
aside span a:nth-child(2){
  border-bottom:1px solid #c4e3f4;
  margin-bottom:20px;
  padding-bottom:10px;
  display:block;
}
aside span a::before{
  content:"";
  display:block;
  width:75px;
  height:75px;
  margin:0 auto;
  background-repeat: no-repeat;
    border-top:1px solid #c4e3f4;
  margin-top:10px;
  background-position:center;
}
aside span a:nth-child(1)::before{
  background-image:url(https://cloud.eais.go.kr/images/main/main_icn_local02_2.png)
}
aside span a:nth-child(2)::before{
  background-image:url(https://cloud.eais.go.kr/images/main/main_icn_local03_2.png)
}
aside .top{
  
  margin:10px auto 0;
  display:block;
  width:42px;
  height:42px;
  background-color:#1f446a;
  border-radius: 50%;
  color:#fff;
  padding-top:14px;
  box-sizing: border-box;
  font-size:10px;
}
aside .top::before{
content: "";
display: block;
width: 0;
height: 0;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-bottom: 4px solid #fff;
margin: 0 auto 1px;
}