@charset "utf-8";
#login{
  padding-top:200px;
  margin-bottom:87px;
  height:100%;
  
  box-sizing: border-box;
}
#login .center{
  display: flex;
  width: 1200px;
}
#login .center > div{
  width:50%;
  border-top:1px solid #333;
  border-bottom:1px solid #eee;
}
#login .center div h2{

  height: 50px;
  font-size: 24px;
  font-weight: 400;
}
#login .center div p{
  padding: 3px 0 3px 10px;
  position: relative;
}
#login .center div p::before{
  content:"";
  display:inline-block;
  width:4px;
  height:4px;
  background-color:#666;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
}


/* 아이디 로그인 */
#login .center .id_login{
  padding: 47px 82px;
  box-sizing: border-box;
  border-right: 1px solid #eee;
}
#login .center .id_login h2{

}
#login .center .id_login form{

}
#login .center .id_login form fieldset{

}
#login .center .id_login form fieldset label{

  vertical-align: middle;
}
#login .center .id_login form fieldset input{

  width: 100%;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 10px;
  height: 44px;
  padding: 10px 20px;
  vertical-align: middle;
  border: 1px solid #ccc;
}
#login .center .id_login form fieldset input[type="text"]{

}
#login .center .id_login form fieldset input[type="password"]{
  
}
#login .center .id_login form fieldset input[type="checkbox"]{

  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}
#login .center .id_login form fieldset button{

  width: 100%;
  height: 54px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 22px;
  color: #fff;
  background-color: #06c;
  border: none;
}
#login .center .id_login p{

}
#login .center .id_login p::before{

}
#login .center .id_login p a{
  
  float: right;
  font-size: 14px;
  color: #06c;
}
#login .center .id_login p a:hover{
  text-decoration: underline;
}
/* 인증서 로그인 */
#login .center .cert_login{

  padding: 47px 82px;
  box-sizing: border-box;
}
#login .center .cert_login h2{
  

}
#login .center .cert_login form{
  
  margin-bottom: 30px;
}
#login .center .cert_login form fieldset{
  
}
#login .center .cert_login form fieldset button{
  width:100%;
  border: none;
}
#login .center .cert_login form fieldset button:nth-child(1){
  height:98px;
  margin-bottom: 10px;
  background-color: #00aeef;
  color: #fff;
  font-size: 22px;
}
#login .center .cert_login form fieldset button:nth-child(1)::before{
  content:"";
  display:inline-block;
  width:31px;
  height:36px;
  background-image:url(https://cloud.eais.go.kr/images/icon/icn_cert.png);
  vertical-align: middle;
  margin-right:20px
  
}
#login .center .cert_login form fieldset button:nth-child(2){
  height:54px;
  font-size: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}
#login .center .cert_login p{
  
}
#login .center .cert_login p span{
  
}
#login .center .cert_login p a{
  
  color: #06c;
  text-decoration: underline;
}