@charset "UTF-8";
html,body{
  
}
#popup{

  display: flex;
  justify-content: center;
}
/* 좌측 */
#popup .left{
    
  background-color: #fff;
  width: 370px;
  padding: 22px;
}
#popup .left h2{
    
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}
#popup .left p{
    
  padding-top: 10px;
  font-size: 14px;
}
#popup .left ul+p{
  padding-bottom:50px;
  border-bottom:1px solid #ddd;
}
#popup .left ul{
    
  padding-top: 10px;
}

#popup .left ul li{
  font-size: 14px;
}
#popup .left ul li::before{
  content:"-";
  display:inline-block;
  margin-right:5px
}
#popup .left span{
    
  padding-top: 20px;
  display: inline-block;
  font-size: 13px;
  color: #999;
}

#popup .left .time{
    
  padding-top: 20px;
  display: inline-block;
  font-size: 13px;
  color: #999;
}
#popup .left a{
    
  float: right;
  padding-top: 20px;
  color: #09f;
  font-size: 13px;
}

