@charset "UTF-8";

/* 타이틀영역------------------------- */
#title {
  height:1000px;
  background-image:url(https://cloud.eais.go.kr/images/main/bg_main01.jpg);
  background-size:cover;
  background-position:center;
  position: absolute;
  width: 100%;
  z-index: -1;
}